<po-page-dynamic-search
  p-title="Adicionar Personagem Favorito"
  [p-breadcrumb]="breadcrumb"
  [p-filters]="advancedSearchList"
  [p-literals]="customLiterals"
  (p-quick-search)="fastSearch($event)"
  (p-advanced-search)="advancedSearch($event)"
  (p-change-disclaimers)="disclaimerSearch($event)"
>
  <div class="po-row">
    <div *ngFor="let character of apiItemList" class="po-lg-6 po-md-6 po-sm-12 po-mb-3">
      <app-character-card
        [character]="character"
        (addAction)="addCharacter({ character: $event})"
        (deleteAction)="deleteCharacter({ characterId: $event })"
      ></app-character-card>
    </div>
  </div>
  <div class="po-d-flex po-justify-center po-mb-3">
    <po-button
      class="po-md-3"
      p-label="Carregar mais resultados"
      (p-click)="moreCharacter()"
    ></po-button>
  </div>
</po-page-dynamic-search>
<po-loading-overlay *ngIf="loading"></po-loading-overlay>
