<po-page-dynamic-search
  p-title="Adicionar Personagem Favorito"
  [p-filters]="advancedSearchList"
  [p-literals]="customLiterals"
  (p-quick-search)="fastSearch($event)"
  (p-advanced-search)="advancedSearch($event)"
  (p-change-disclaimers)="disclaimerSearch($event)"
>
  <div class="po-row">
    <div *ngFor="let character of characterList" class="po-lg-6 po-md-6 po-sm-12 po-mb-3">
      <po-widget
        class="po-row"
        [p-primary]="false"
        p-primary-label="Adicionar"
        (p-primary-action)="addCharacter()"
      >
        <po-avatar class="po-md-4 po-sm-8" p-size="lg" [p-src]="character.image"></po-avatar>
        <div class="po-md-8 po-sm-8">
          <p><strong>Nome:</strong> {{character.name}}</p>
          <p><strong>Genero:</strong> {{character.gender}}</p>
          <p><strong>Espécie:</strong> {{character.species}}</p>
          <p><strong>Status:</strong> {{character.status}}</p>
        </div>
      </po-widget>
    </div>
  </div>
  <div class="po-d-flex po-justify-center po-mb-3">
    <po-button class="po-md-3" p-label="Carregar mais resultados" (p-click)="moreCharacter()"> </po-button>
  </div>
</po-page-dynamic-search>
<po-loading-overlay *ngIf="loading"></po-loading-overlay>
